/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: 

COOLORS color palette link
https://coolors.co
*/

/* **************** */
/* Custom Variables */
/* **************** */
:root {
  
  /* FONTS */
  /* 
  Main heading: 'Calistoga', cursive;
  Card fonts: 'Inter', sans-serif; 
  */
  --ff-primary: 'Inter', sans-serif;
  --ff-main-heading: 'Calistoga', cursive;

  /* COLORS */
  --clr-pure-white: #ffffff;
  --clr-soft-white: #F5F5F5;
  --clr-light-grey: #CBCBCB;
  --clr-dark-primary: #1d1e25;
  --clr-black: #000000;

  /* gradient */
  --gradient-primary: linear-gradient(180deg, hsl(176, 53%, 41%) 0%, hsla(176, 53%, 41%, 0) 59.90%, hsla(176, 53%, 41%, 0) 100%);
  
  /* BORDER RADIUS */
  --br-soft: .5rem;
  --br-round: 50%;
  
  /*FONT SIZES*/
  --fs-sml: 0.9375rem;
  --fs-med: 1rem;
  --fs-lrg: 1.25rem;
  --fs-xlrg: 2.5rem;
  --fs-black: 3.25rem;

  --fw-bold: 700;
  --fw-regular: 400;

  /* Input Variables */
  --select-border: #777;
  --select-focus: hsl(240, 72%, 50%);
  --select-arrow: var(--select-border);

  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;

  --grid-gap: 1.25rem;

}

@media (min-width: 600px) {
  :root {
    --fs-black: 4.75rem;
    --grid-gap: 1.875rem;
  }
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* BASE STYLES */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  color: var(--clr-dark-primary);
  background: var(--clr-soft-white);
}


h1 {
  font-family: var(--ff-main-heading);
  font-size: var(--fs-black);
  color: var(--clr-pure-white);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.90);
  font-weight: 400;
  line-height: 1.2
}

/* Utility Classes */
/* for screen-readers only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}



/* Header Styles */
.main-header {
  min-height: 18rem;
  /* max-height: 18.75rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: var(--gradient-primary), url('../images/header-bg.png');
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-container {
  max-width: 550px;
  width: 70%;
  border: none;
  background: transparent;
  background-color: var(--clr-pure-white);
  border-radius: var(--br-soft);
}

.select-container {
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  position: relative;

  border: 1px solid var(--select-border);

  border: none;
  border-radius: var(--br-soft);

  padding: 0.5em 0.75em;
  font-size: var(--fs-lrg);
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--clr-pure-white);

  margin-bottom: .25rem;
}

/* reset and remove inherited select styles */
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.25em .5em;

  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;  
  z-index: 1;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.select-container::after {
  content: url('../images/arrow.png');
}

.select-container select,
.select-container::after {
  grid-area: select;
}

.select-container:after {
  justify-self: end;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;  
}



/* Search by Employee Name Input */


.name-search {
  width: 100%;
  border: none;
  border-top: 1px solid var(--clr-light-grey);
  border-bottom-left-radius: var(--br-soft);
  border-bottom-right-radius: var(--br-soft);

  padding: 0.5em 1em;
  font-family: inherit;
  font-size: var(--fs-lrg);

}


.name-search:focus {
  border-radius: var(--br-soft);
  border: 1px solid var(--select-focus);
}

@media (min-width: 600px) {
  .search-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.125rem;
  }

  .select-container {
    margin-bottom: 0;
    border-radius: 0;
    border-top-left-radius: var(--br-soft);
    border-bottom-left-radius: var(--br-soft);
  }

  select:focus + .focus {
    border-radius: var(--br-soft);
    border: 2px solid var(--select-focus);
  }

  .name-search {
    border-radius: 0;
    border: none;
    border-left: 1px solid var(--clr-light-grey);
    border-top-right-radius: var(--br-soft);
    border-bottom-right-radius: var(--br-soft);
  }


}


.results {
  max-width: 90%;
  margin-inline: auto;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 
    repeat(auto-fit, 
           minmax(min(18rem, 100%), 1fr));
  justify-items: center;
  gap: var(--grid-gap);
}


@media (min-width: 1260px) {
  .results {
    max-width: 1200px;
  }
}


/* Employee Card Styles */

.card {
  min-height: 30rem;
  max-width: 24rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: var(--clr-pure-white);
  border-radius: 0.25rem;
}


.employee-image {
  margin-bottom: 1rem;
  max-width: 7.5rem;
  object-fit: cover;
  border-radius: var(--br-round);
}

.employee-name,
.employee-title {
  font-weight: var(--fw-bold);
}

.employee-name {
  margin-bottom: 0.25rem;
  font-size: var(--fs-lrg);
}

.employee-title {
  margin-bottom: 1rem;
  font-size: var(--fs-med);
}


.employee-bio p {
  font-size: var(--fs-sml);
}

.employee-bio p + p {
  margin-top: 0.75rem;
}

.employee-socials {
  margin-top: auto;
  display: flex;
  gap: 1.5rem;
}

.social-icon:hover {
  cursor: pointer;
}


